* {
    margin: 0;
    padding: 0;
}

body {

    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;

}

#header {
    width: 100vw;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#header h1 {
    padding-bottom: 10px;
}

#searchBar {
    display: flex;
    justify-content: center;
}

#searchBox {
    width: 20vw;
    height: 3.5vh;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}

button {

    background-image: url(search_icon.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-color: transparent;
    border: none;
    padding: 10px 0px;


}

.weatherStyle {
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    color: yellow;
}

#container {
    padding-top: 80px;
    
}
.container.div{
    display: block;
    flex-direction: column-reverse;
}

.conditon{
    display: flex;
}